
#paiGraficos1 {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#divG1 {
    width: 28vw;
    height: 50vh;
    text-align: center;
}

#divG2 {
    width: 28vw;
    height: 50vh;
    text-align: center;
}

#divG3 {
    width: 28vw;
    height: 50vh;
    text-align: center;
}

#paiGraficos2 {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#divG4 {
    width: 28vw;
    height: 50vh;
    text-align: center;
}

#divG5 {
    width: 28vw;
    height: 50vh;
    text-align: center;
}

#divG6 {
    width: 28vw;
    height: 50vh;
    text-align: center;
}