body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#botaoIniciar {
    width: 10vw;
    height: 3vw;
    margin: 5vh;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    background: #8f94fb;
    color: #ffffff;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000056;
}

#bannerPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background: linear-gradient(to bottom, #4828ff, #00bfff);
}

#fundoPrincipal {
    width: 85vw;
    height: 80vh;
}

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

li {
    display: inline-block;
    margin: 20px;
    color: white;
}

li:hover {
    text-decoration: underline;
}

.link-menu{
    color: black;
}

.link-menu:hover{
    text-decoration: underline;
    color: black;
}
/* fim do cabeçalho */

#divTituloMeio {
    display: flex;
    width: 85vw;
    height: 50vh;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

#textoMeio {
    font-size: 20px;
}

#paiRodape {
    background-color: white;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filhoRodape {
    /* background-color: #4828ff; */
    width: 85vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

#divContato {
    width: 20vw;
    height: 10vh;
    margin-top: -10px;
}

#contato {
    color: black;
    font-size: 18px;
}

#tonyEmail {
    font-size: 13px;
}

#pedEmail {
    font-size: 13px;
}

#rodapeMeio {
    margin-top: 40px;
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

#rodapeFim {
    margin-top: 40px;
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#spTech {
    font-size: 13px;
    font-weight: bold;
}

#insta {
    width: 2vw;
    height: 4vh;
}

#linkedin {
    width: 2vw;
    height: 4vh;
}

#twitter {
    width: 2vw;
    height: 4vh;
}

#facebook {
    width: 2vw;
    height: 4vh;
}

#botaoIniciar:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
