#myChart{
width: 50vh;
height: 50vh;
}

#myChart2{
    width: 50vh;
    height: 50vh;
    
}

#myChart3{
    width: 50vh;
    height: 50vh;
}

#myChart4{
    width: 50vh;
    height: 50vh;
}

#myChart5{
    width: 50vh;
    height: 50vh;
}

#myChart6{
    width: 50vh;
    height: 50vh;
}

