body {
    margin: 0;
}

/* cabeçalho */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

li {
    display: inline-block;
    margin: 3vh;
    color: black;
}

li:hover {
    text-decoration: underline;
}

.link-menu{
    color: black;
}
/* fim do cabeçalho */

#botaoIniciar {
    width: 10vw;
    height: 3vw;
    margin: 5vh;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    background: #8f94fb;
    color: #ffffff;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000056;
    margin-top: 70vh;
}

#divBotao {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* fim da principal */

/* começo do rodapé */
.rodapé {
    background-color: black;
    color: white;
    height: 50vh;
    width: 100%;
    font-size: 15px;
    display: flex;
}

#contato {
    display: block;
    
}
/* fim do rodape */

#bannerPrincipal {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to bottom, #4828ff, #00bfff);
}